<center><span style="color:red; font-size:30px">TIPOS DE DATOS</span></center>

In [ ]:
 x = 5
type(x)

In [ ]:
x = 1.7
type(x)

In [ ]:
x = "Hola"
type(x)

In [ ]:
x = True
type(x)

In [ ]:
int, float, str, bool, None

x = "5"
type(x), #str
x = int(x) # para hacer conversion a numero entero
type(x) #int
x = bool(x)
type(x) #False = 0 " ",[]; True: 5,22 2 "sfdt" [2,3,4] 

x = None # no  tiene valor ni tipo
print(type(x))

In [ ]:
x = 3 + 7j # tipo de dato complex
type(x)

In [ ]:
# LISTA, TUPLA, SET, DICCIONARIO

lista = [1,2,3]
diccionario = {"nombre": "Luis", "edad": 23} # clave (etiqueta) valor (resultado)
tuple = (1,2,3)
conjunto = {1,2,3}

print(type(lista))
print(type(diccionario))
print(type(tuple))
print(type(conjunto))

In [ ]:
x = []
x.append(1)
x.append(3)
x.append("hola")
x.append(2.3)
diccionario = {"nombre": "Luis", "edad": 23}
x.append({"nombre": "Luis", "edad": 23})
x.append(diccionario)
x.append([5,7,"Hola"])

print(x)
print(type(x))
lista = x[5] # -1 siempre representa el ultimo de la lista
for elemento in lista:
    print(elemento)
print(x[-2])
del x[-2]
print(x)

In [ ]:
x = (1,2,3)
print(x)
print(type(x))

In [ ]:
x = 1,2,3
print(x)
print(type(x))

In [ ]:
x = 1,2,3,"hola",{"nombre":"Luis"}
print(x[4])

for elemento in x:
    print(elemento, end=" ")
print()
for indice in range(len(x)):
    print(x[indice]," ",indice)

In [ ]:
x = (5,) * 20
print(x)

In [ ]:
x = [5] * 20
print(x)

In [ ]:
#DICCIONARIO
# Creación de un diccionario
persona = {
    "nombre": "Ana",
    "edad": 30,
    "ciudad": "Madrid"
}
print(persona)
print(persona["edad"]) # se identifican con clave no por indice

# Modificar
persona["edad"] = 40 # Modificar el valor que guarda la clave (las claves no se modifican)
print(persona)

# recorrer un diccionario 
for elemento in persona:
    print(persona[elemento])

# insertar
persona["estatura"] = 1.7
print(persona)

# eliminar
del persona["estatura"]
print(persona)

x = {1: "One", 2: "Two", (1,2): "One, Two",("One","Two"):(1,2), 1:(1,2,3)} # si se repite una clave(no se puede)se modifica 
print(x)

In [ ]:
#CONJUNTOS

x = {1,2,3}
print(x)
print(type(x))

y = {}
z = set()
w = set([1,2,3,4,4,4,4]) # se eliminan los duplicados, se queda unicamente con valores únicos
print(w)
print(type(w))

lista = ["Luis","Miguel","Carlos","Luis"] #Lista son corchetes []
print(lista)

conjunto = set(lista)
print(conjunto) # conjuntos son corchetes {}
print(list(conjunto))
#INSERTAR EN UN CONJUNTO
conjunto.add("Carla") # Insertar
print(conjunto)
#ELIMINAR EN UN CONJUNTO
conjunto.remove("Carla")
print(conjunto)

# RETIRA "EL PRIMERO"
x = conjunto.pop() # RETIRAS Y LO GUARDAS EN UNA VARIABLE
print(x)
print(conjunto)

<span style="color:blue; font-size:15px">EJEMPLO 1</span><br>
Dado un conjunto formado por los siguientes elementos {3,8,2,3}, se pide mostrar en pantalla sólo los números pares.

conjunto = {3,8,2,3}
# Si el conjunto es vacio es False y si tiene elementos es True
while conjunto: 
      x = conjunto.pop()
      if x % 2 == 0:
          print(x)
print(conjunto)

In [ ]:
# QUIERES QUE SE MANTENGAN LOS ELEMENTOS
conjunto = {3,8,2,3}
# Si el conjunto es vacio es False y si tiene elementos es True
for x in conjunto:
      if x % 2 == 0:
          print(x)
print(conjunto)

In [ ]:
# OPERACIONES SOBRE CONJUNTOS
a = {1, 2, 3}
b = {2, 3, 4}

#UNION

union = a | b
print(union) # junta los dos conjuntos y se queda con los únicos

#INTERSECCIÓN
interseccion = a & b
print(interseccion)

#DIFERENCIAS (SOLO LOS ELEMENTOS QUE PERTENECEN A (A O B))

diferencia = a - b
print(diferencia)

diferencia = b - a
print(diferencia)

<span style="color:blue; font-size:15px">EJEMPLO 2</span><br>
Operadores de pertenecia

In [ ]:
# SI UN ELEMENTO PERTENECE O NO EN UNA COLECCION
# in, not in

lista = [1,2,3]
diccionario = {"nombre": "Luis", "edad": 23} # clave (etiqueta) valor (resultado)
tuple = (1,2,3)
conjunto = {1,2,3}

if 2 in lista:
   print("Si")
else:
   print("No")

if 9 in conjunto:
   print("Si")
else:
   print("No")

if 2 in tuple:
   print("Si")
else:
   print("No")

#EN CASO DE DICCIONARIO(solo es aplicable a la clave)    
if "nombre" in diccionario:
   print("Si")
   print("nombre")
else:
   print("No")

if "estatura" in diccionario:
   print("Si")
else:
   print("No")
   diccionario["estatura"] = 1.72
print(diccionario)

<span style="color:blue; font-size:15px">EJEMPLO 3</span><br>
<div class=text-justify>Hacer un programa que guarde en una variable el diccionario {'Euro':'€', 'Dollar':'$', 'Yen':'¥', 'Ruble': '₽'}, que son monedas fiduciarias. Pregunte al usuario por una divisa y muestre su símbolo o un mensaje de aviso si la divisa no está en el diccionario.</div>

In [ ]:
print("Moneda China \u00A5")
monedas_d = {'Euro':'€', 'Dollar':'$', 'Yen':'¥', 'Ruble': '₽'}
print("Ingrese una de las siguientes monedas : ", end=" ")
for clave in monedas_d:
    print(clave, end=" ")
moneda_clave = input("Ingresar moneda?")
valor = monedas_d.get(moneda_clave, "La moneda no existe")
print("Simbolo: ", valor)

In [ ]:
# OTRA VERSION QUE SINO INGRESAS BIEN TE VUELVE A PREGUNTAR
import os
monedas_d = {'Euro':'€', 'Dollar':'$', 'Yen':'¥', 'Ruble': '₽'}

while True:
    os.system("cls") --> para consola
    print("Ingrese una de las siguientes monedas : ", end=" ")
    for clave in monedas_d:
        print(clave, end=" ")
    print()
    moneda_clave = input("Ingresar moneda?")
    valor = monedas_d.get(moneda_clave)
    print("Simbolo: ", valor)
    # os.system("pause") --> para consola
    input("Presiona enter para continuar...")
    if valor != None:
       break

<span style="color:blue; font-size:15px">EJEMPLO 4</span>
<div class=text-justify>
Hacer un programa que guarde en un diccionario los precios de las frutas de la tabla, pregunte al usuario por una fruta, un número de kilos y muestre por pantalla el precio de ese número de kilos de fruta. Si la fruta no está en el diccionario debe mostrar un mensaje informando de ello.
</div>

<table>
  <thead>
    <tr>
      <th style='text-align: left;'>Fruta</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style='text-align: left;'>Plátano</td>
      <td>1.35</td>
    </tr>
    <tr>
      <td style='text-align: left;'>Manzana</td>
      <td>0.80</td>
    </tr>
    <tr>
      <td style='text-align: left;'>Pera</td>
      <td>0.85</td>
    </tr>
    <tr>
      <td style='text-align: left;'>Naranja</td>
      <td>0.70</td>
    </tr>
  </tbody>

In [ ]:
frutas_d = {"Platano":1.35,"Manzana":0.80,"Pera":0.85,"Naraja":0.70}
while True:
   fruta = input("Ingrese la fruta que va a comprar?")
   if fruta in frutas_d:
       kg = int(input("Ingrese los Kilos de la fruta que vas a comprar?"))
       venta = frutas_d[fruta] * kg
       print("En total se compro: ", venta, " €")
       print("Se compró: ", fruta, " ",kg, " Kilos")
       break
   else:
       print("No existe la fruta")

<span style="color:blue; font-size:15px">EJEMPLO 4 de forma MIHAI</span>
<div class=text-justify>
Hacer un programa que guarde en un diccionario los precios de las frutas de la tabla, pregunte al usuario por una fruta, un número de kilos y muestre por pantalla el precio de ese número de kilos de fruta. Si la fruta no está en el diccionario debe mostrar un mensaje informando de ello.
</div>

<table>
  <thead>
    <tr>
      <th style='text-align: left;'>Fruta</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style='text-align: left;'>Plátano</td>
      <td>1.35</td>
    </tr>
    <tr>
      <td style='text-align: left;'>Manzana</td>
      <td>0.80</td>
    </tr>
    <tr>
      <td style='text-align: left;'>Pera</td>
      <td>0.85</td>
    </tr>
    <tr>
      <td style='text-align: left;'>Naranja</td>
      <td>0.70</td>
    </tr>
  </tbody>

In [ ]:
frutas_d = {"Plátano": 1.35, "Manzana": 0.80, "Pera": 0.85, "Naranja": 0.70}

while True:
    print("Elije una de las frutas:", end=" ")
    for frutas in frutas_d:
        print(frutas, end=" ")
    fruta = input("Ingrese fruta para comprar: ")
    if fruta in frutas_d:
        cantidad = int(input("Ingrese cantidad en kg:"))
        resultado = cantidad * frutas_d[fruta]
        print(f"Precio: {resultado}€ por {cantidad} kilogramos de {fruta}.")
        break
    else:
        print("Fruta no existe.")
        input("Presiona Enter para continuar...")

<center><span style="color:red; font-size:30px">BUCLES</span></center>

<span style="color:blue; font-size:15px">EJEMPLO 1</span>
WHILE

In [ ]:
n = int(input('Ingrese el n para la serie [1...n]?')) 
i = 1 # INICIO
while i <= n: # TEST(inicio)
      print(i, end=' ')
      i += 1 # INCREMENTO

<span style="color:blue; font-size:15px">EJEMPLO 2</span>
FOR

In [ ]:
n = int(input('Ingrese el n para la serie [1...n]?'))
for i in range(1,n+1,1): # INICIO, TEST(condición,punto de parada), INCREMENTO en la misma sintaxis
    print(i, end=' ')

<span style="color:blue; font-size:15px">EJEMPLO 3</span>
DO...WHILE

In [ ]:
# EVALUAR LA ENTRADA
while True:
       n = int(input('Ingrese el n > 0 para la serie [1...n]?'))
       if n > 0:
          break
       else:
          continue 
# PROCESO
i = 1 # INICIO
while True:
      print(i, end=' ')
      i += 1 # INCREMENTO i = i + 1
      if i > n: # TEST(final)
         break

<span style="color:blue; font-size:15px">EJEMPLO 4</span>
MOSTRAR LA SERIE DEL ALFABETO ESPAÑOL CON EL WHILE

In [ ]:
n = 90
i = 65 # INICIO
while i < n+1: # TEST(inicio)
      print(chr(i), end=' ')  
      if chr(i) == 'N':
         print(chr(209), end=' ')
      i += 1 # INCREMENTO

<span style="color:blue; font-size:15px">EJEMPLO 5</span>
MOSTRAR LA SERIE [1,n] PERO QUE OMITA LOS PARES

In [ ]:
n = int(input('Ingrese el n > 0 para la serie [1...n]?'))
for i in range(1,n+1,1):
    if i % 2 == 0: # % residuo entre 2 es igual a 0 PARES  
       continue # evita q los pares se guarden y vuelve al bucle(for)
    print(i, end=' ')

In [ ]:
# OTRA FORMA CON UN if
n = int(input('Ingrese el n > 0 para la serie [1...n]?'))
for i in range(1,n+1,1):
    if i % 2 != 0:
       print(i, end=' ')

In [ ]:
# OTRA FORMA CON UN if pero que incremento vaya de dos en dos, por lo que no muestra los pares
n = int(input('Ingrese el n > 0 para la serie [1...n]?'))
for i in range(1,n+1,2):
    print(i, end=' ')

<span style="color:blue; font-size:15px">EJEMPLO 6</span>
MOSTRAR LA SERIE [n,1]  serie en decremento

In [ ]:
n = int(input('Ingrese n para la serie [n,1]?'))
for i in range(n, 0,-1): # INICIO, TEST(compraración), DECREMENTO 10 9 8 7 6 5 4 3 2 1 > 0
    print(i, end=' ')

In [ ]:
# Con el WHILE
n = int(input('Ingrese n para la serie [n,1]?'))
i = n # INICIO
while i > 0: #TEST(inicio)
      print(i, end=' ')
      i -= 1 # DECREMENTO i = i - 1

<span style="color:blue; font-size:15px">EJEMPLO 7</span>
MOSTRAR LOS NUMEROS PRIMOS ENTRE 2 Y 100: 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89 y 97

In [2]:
for i in range(2,101,1): # i = 2
    c = 0
    for j in range(1,i+1,1): # i = 2/1 2/2 contador: 2 --> primo
                             # i = 3/3 3/2 3/3
                             # i = 4/4 4/3 4/2 4/1 contador: 3 --> NO PRIMO
        if i % j == 0:
           c += 1
    if c == 2:
       print(i, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [10]:
#  OTRA FORMA 
for i in range(2,101,1): # i = 2
    for j in range(2,i+1,1): # i = 2/1 2/2 contador: 2 --> primo
                             # i = 3/3 3/2 3/3
                             # i = 4/4 4/3 4/2 4/1 contador: 3 --> NO PRIMO
        if i % j == 0:
           break
    if i == j:
       print(i, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [16]:
# OTRA FORMA
for num in range(2,101,1):
    primo = True
    for i in range(2,int(num**0.5)+1):
        if num % i == 0:
           primo = False
           break
    if primo:
       print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

--------------------------------------------------------------------------